services:
  - type: web
    name: cinema-management
    env: docker
    dockerfilePath: Dockerfile
    envVars:
      - key: DB_HOST
        fromDatabase:
          name: sql104.infinityfree.com
          property: host
      - key: DB_USER
        fromDatabase:
          name: if0_40669531
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: zxhnv4zxYg
          property: password
      - key: DB_NAME
        fromDatabase:
          name: if0_40669531_cinema_management
          property: database
      - key: DB_PORT
        fromDatabase:
          name: 3306
          property: port

databases:
  - name: if0_40669531_cinema_management
    region: singapore
    plan: free