services:
  - type: web
    name: cinema-management
    env: docker
    dockerfilePath: Dockerfile
    envVars:
      - key: DB_HOST
        fromDatabase:
          name: cinema-db
          property: host
      - key: DB_USER
        fromDatabase:
          name: cinema-db
          property: user
      - key: DB_PASSWORD
        fromDatabase:
          name: cinema-db
          property: password
      - key: DB_NAME
        fromDatabase:
          name: cinema-db
          property: database
      - key: DB_PORT
        fromDatabase:
          name: cinema-db
          property: port

databases:
  - name: cinema-db
    region: singapore
    plan: free