@import "variables";

.loading-spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid $color-gray-95;
    border-top: 2px solid $color-yellow-70;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin-right: 8px;
    vertical-align: middle;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
