@use "variables" as *;

.forgot-password-description,
.reset-password-description {
    text-align: center;
    color: $color-gray-85;
    margin-bottom: $spacing-lg;
}

.loading-text {
    text-align: center;
    color: $color-gray-85;
}

.reset-link-btn {
    display: block;
    text-align: center;
    margin-top: $spacing-md;
    text-decoration: none;
    color: hsl(0, 0%, 10%);

    &:hover {
        background: $color-yellow-light;
    }
}

.forgot-password-link {
    color: $color-yellow-70;
    font-weight: bold;

    &:hover {
        color: $color-yellow-50;
        text-decoration: underline;
    }
}
