@use "variables" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-primary;
}

body {
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
}

main {
    min-height: calc(100vh - 60px);
    padding: $spacing-xl 0;
}
