@use "variables" as *;

.password-input-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    input {
        padding-right: 2.5rem; // Make room for the eye icon
    }

    .password-toggle-btn {
        position: absolute;
        right: 0.5rem;
        background: transparent;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        padding: 0.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: opacity $transition;
        color: $color-gray-60;

        &:hover {
            opacity: 0.7;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }

        &:focus {
            outline: 2px solid $color-yellow-70;
            outline-offset: 2px;
            border-radius: $radius-sm;
        }
    }
}
